.f-card{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 50px;
  background: #FDEDE8;
  padding: 30px 40px 20px 25px;
  border-radius: 20px;
  transition: .4s;
}
.f-card:hover{
  box-shadow: 5px 5px 15px gray;
}
.f-card .card-icon{
  font-size: 30px;
  position: relative;
}
.f-card .card-icon::after{
  content: '';
  height: 100px;
  width: 1px;
  top: -27px;
  right: -20px;
  position: absolute;
  background-color: #FAD0BC;
}
.f-card .card-text h3{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 7px;
}
.f-card .card-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

