.header-nav{
  padding: 22px 0;
  background: #F5F5F5;
}
.header-nav .nav-mid{
  gap: 80px;
}
.header-nav .nav-mid .mid-menu{
  font-family: "REM", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header-nav .nav-mid .mid-menu:hover{
  color: red;
}
.header-nav .nav-end .end-btn{
  display: flex;
  align-items: center;
  padding: 18px 59px 18px 52px;
  border-radius: 30px;
  gap: 28px;
  background: transparent;
  border: none;
  background: #EA580C;
  color: #ffff;
  font-family: "REM", sans-serif;
  font-size: 20px;
  font-weight: 500;
  transition: .4s;
}
.header-nav .nav-end .end-btn:hover{
  background: #000;
  color: #FAD0BC;
}





@media (max-width:991px){
    .header-nav{
       padding-top:0px;
    }
    
    .header-nav .nav-mid{
       gap: 40px;
    }
    .menu-resp{
        background-color: bisque;
        text-align: center;
        border-radius: 10px;
        
        top: 100px;
        left: 0;
        width: 100%;
    }
    .nav-end{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 30px;
    
        
    }
    .nav-logo{
        width: 250px;
    }
}